---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homer">
  <h1 class="text-2xl font-bold">Home</h1>
  <p>heading</p>
  <div>
    <button
      onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))"
    >
      Light
    </button>
    <button
      onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))"
    >
      Dark
    </button>
    <button
      onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: null }))"
    >
      Clear theme
    </button>
  </div>

  <button class="bg-primary dark:bg-secondary"> hello </button>
</Layout>
