---
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
import Head from "./Head.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description }: Props = Astro.props;

// Set Up
// 1. Head
// 2. Change title from astro config
---

<!doctype html>
<html lang="en" class="dark">
  <Head title={title} description={description} />
  <body>
    <slot />
  </body>
</html>
